{% extends 'poll/base.html' %}

{% block content %}
    <div class="jumbotron text-left">
        <h1 class="display-4">What is Blockchain based Voting?</h1>
        <p class="lead my-4">Blockchain based voting is a secure, transparent and decentralised way of voting.
            It taps the secure blockchain technology, essentially converting ballots into transactions
            and securely mining blocks out of them. This way anyone can monitor votes but at the same time
            your vote is completely anonymous, preserving your identity.
        </p>
    </div>
{% endblock %}