<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="card align-items-center text-center p-3">
        <h1>Login</h1>
        <form class="form-site" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <table class="table table-borderless table-hover mt-3 p-3" style="transition: 0.5s ease;">
                {{ form }}
            </table>
            <input class="btn btn-primary mx-auto" type="submit" value="Login">
        </form>
    </div>
</body>
</html>