<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Cast your votes</h1>
    <div class="container-fluid text-center p-3">
        {% if candidates %}
            {% for candidate in candidates %}
                <div class="row">
                    <div class="col">
                        <div class="card p-3 mt-5 w-50 mx-auto">
                            <h2>Name: {{ candidate.name }}</h2>
                            <h5>Age: {{ candidate.age }}</h5>
                            <h5>Party: {{ candidate.party }}</h5>
                            <h5>Criminal Records: {% if candidate.criminalRecords == False %} None {% else %} Present {% endif %}</h5>
                            <button class="btn btn-primary">Vote</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <p>No candidates yet</p>
        {% endif %}
    </div>
</body>
</html>