{% extends '../poll/base.html' %}

{% block content %}
<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5"
        style="border-radius: 25px; width: 30vw; height: 60vh; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;">
            <form method="post" action="{% url 'login' %}" class="form-signin p-3">
                {% csrf_token %}
                <label for="username" class="my-4">Username:</label><br>
                {{ form.username }}<br>
                <label for="password" class="my-4">Password:</label><br>
                {{ form.password }}<br>
                <input type="submit" value="LOGIN" class="btn btn-primary my-5" style="font-size: 1.4vw;">
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}